body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#da4df1, #9ac8f0);
  color: white;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10%;
  /* border: solid 4px rgb(255, 255, 255); */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(99, 5, 117);
  /* border: solid 4px rgb(255, 255, 255); */
}
