.EditPage {
  height: 100vh;
  display: grid;
  place-items: center;
}

.AdminEdit_Section {
  width: 96vw;
  height: 90vh;
  box-shadow: 0px 3px 8px #000000;
  padding: 35px;
  display: flex;
}

.edit_section {
  flex-basis: 65%;
  border-right: solid #7d86ba;
  padding-right: 8%;
  overflow: auto;
}

.display_section {
  flex-basis: 35%;
  padding: 20px;
}

.text_link {
  border: 1px solid #4a0756;
  background: #f3e6fb;
  box-shadow: 0px 1px 2px #000000;
  border-radius: 6px;
  overflow: auto;
}
.text_link div {
  width: 80%;
  display: inline-block;
}
.text_link button {
  position: relative;
  top: 10px;
  background-color: #7662ad;
  color: white;
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
}
/* AllLinks */
.display_userlinks {
  display: none;
}

@media screen and (max-width: 1000px) {
  .display_section {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: 2;
  }
  .edit_section {
    flex-basis: 100%;
    border-right: none;
  }

  .display_userlinks {
    z-index: 10;
    position: absolute;
    font-size: 2em;
    bottom: 10%;
    left: 15%;
    display: block;
    box-shadow: 0px 2px 5px #4b4b4b;
  }
}
